
.Camps {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.CampImage {
    border-radius: 23px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.CampTitle {
    font-weight: 800;
    font-size: 19px;
    line-height: 22px;
    color: #333333;
}

.CampPrice {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2F80ED;
}

.CampCard {
    width: 90%;
    margin: 0 0 50px 0;
}



@media screen and (min-width: 680px) {
    .CampCard {
        width: 50%;
    }
    .CampImage {
        width: 305px;
    }

}

@media screen and (min-width: 980px) {
    .CampCard {
        width: 33%;
    }
    .CampCard:hover {
        transform: scale(1.5);
        transition: all 2s linear;
    }
}





